* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Lato;
  font-size: 62.5%; // changing 1 rem to 10px
  height: 100%;
}

body {
  color: $c-gray;
}

// TYPOGRAPHY

h1 {
  font-size: 4rem;
  letter-spacing: .6rem;
  font-weight: 300;
  position: relative;
  text-transform: uppercase;

  &::before {
    @include centerHorizontal;

    border-bottom: .2rem solid rgba($c-light, .6);
    bottom: 7.2rem;
    content: "";
    position: absolute;
    width: 8rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
  padding: 2.5rem;
}

.light {
  color: $c-light;
}