.card {
  background-color: $c-gray;
  color: rgba($c-light, .95);
  height: 100vh;
  min-height: 70rem;
  padding: 3rem;
  position: relative;

  & h1 {
    font-size: 10rem;
    text-align: center;

    &::before {
      bottom: 0;
    }
  }

  & h2 {
    font-weight: 700;
    letter-spacing: .3rem;
    text-align: center;
    text-transform: uppercase;
  }

  & h3 {
    @include centerHorizontal;
    font-size: 3rem;
    letter-spacing: .2rem;
    position: absolute;
    text-align: center;
    width: 70%;
  }

  & p {
    font-size: 1.8rem;
    letter-spacing: .1rem;
    padding-bottom: .2rem;
  }

  & .header {
    padding-bottom: 0;
    position: relative;

    & p {
      font-size: 2rem;
    }

    &__left {
      display: inline-block;  
      width: 50%;
    }
    &__right {
      display: inline-block;
      text-align: right;
      width: 50%;
    }
  }
}

.main {
  cursor: default;
  height: 30rem;
  margin: 0 auto;
  max-width: 55rem;
  perspective: 100rem;
  position: relative;
  -moz-perspective: 100rem;
  
  &__side {
    backface-visibility: hidden;
    background-color: rgba($c-light, .15);
    border: 3px solid rgba($c-light, .15);
    border-radius: $n-borderradius;
    box-shadow: 0 1.5rem 4rem rgba($c-shadow, .15);
    height: 30rem;
    overflow: hidden;
    padding: 2rem;
    position: absolute;
    transition: all .6s ease;
    width: 100%;
  }

  &__front h1 {
    padding-top: 3.5rem;
  }

  &__back {
    transform: rotateY(180deg);
    
    &--right {
      display: inline-block;
      text-align: center; 
      width: 50%;

      & p {
        padding: .8rem;

        &:not(:last-child) {
          border-bottom: 1px solid rgba($c-light, .9);
        }
      }
    }

    &--left {
      display: inline-block;
      width: 50%;

      & h1 {
        margin-bottom: 4rem;
      }

      & .description {
        font-size: 2rem;
        font-style: italic;
        text-align: center;
      }
    }
  }
}

.footer {
  text-align: right;
  width: 100%;
}

// conditional classes based on weather condition

.rain, .thunderstorm {
  background-position: center;
  background-size: cover;
}

.clear {

  &__night {
    background-image: url(@/../../images/clear_night.jpg);
    background-position: center;
    background-size: cover;
  }
}

.rain {
  background-image: url(@/../../images/rain.jpg);
}

.clouds, .drizzle, .fog, .mist, .snow, .clear__day {
  position: relative;

  &::before {
    background-position: center;
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.clear__day {

  &::before {
    background-image: url(@/../../images/clear_day.jpg);
    filter: brightness(85%);
  }
}

.clouds {

  &::before {
    background-image: url(@/../../images/cloudy.jpg);
    filter: brightness(75%);
  }
}

.drizzle {

  &::before {
    background-image: url(@/../../images/drizzle.jpg);
    filter: brightness(70%);
  }
}

.fog {

  &::before {
    background-image: url(@/../../images/fog.jpg);
    filter: brightness(80%);
  }
}

.mist {

  &::before {
    background-image: url(@/../../images/mist.jpg);
    filter: brightness(75%);
  }
}

.snow {

  &::before {
    background-image: url(@/../../images/snow.jpg);
    background-position: left;
    filter: brightness(85%);
  }
}

.thunderstorm {
  background-image: url(@/../../images/thunderstorm.jpg);
}

@media only screen and (max-width: 768px) {
  .card {
    height: 100%;
    padding: 2rem;

    & h1 {
      font-size: 7.5rem;
      padding-top: 1rem;
    }

    & h2 {
      font-size: 2rem;
    }

    & h3 {
      font-size: 2.4rem;
    }

    & p {
      font-size: 1.5rem;
      letter-spacing: .1rem;
      padding-bottom: .2rem;
    }

    & .header {

      & p {
        font-size: 1.8rem;
      }
    }
  }

  .main {
    height: 52rem;
    max-width: 48rem;

    &__side {
      height: 20rem;
      padding: 1rem;
      position: relative;
    }

    &__back {
      transform: rotateY(0);
      margin-top: 4rem;

      &--right {
        width: 60%;

        & p {
          padding: .4rem;
        }
      }

      &--left {
        vertical-align: top;
        width: 40%;

        h1 {
          margin-bottom: 3rem;
        }

        & .description {
          font-size: 1.8rem;
        }
      }
    }

  }

  .forecast {
    margin-top: -4rem;
    padding-top: 0;

    &__card {
      max-width: 10.5rem;
      width: calc(25% - (6rem / 4));

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 419px) {
  .forecast {

    &__card {
      width: calc(50% - 4rem);

     &:not(:last-child) {
       margin-right: 0;
     }

     &:nth-child(odd) {
       margin-right: 4rem;
     }

     &:nth-child(1), &:nth-child(2) {
       margin-bottom: 4rem;
     }
    }
  }
}

@media only screen and (min-width: 769px) {
  .main {

    &:hover &__front {
      transform: rotateY(-180deg);
    }
  
    &:hover &__back {
      transform: rotateY(0);
    }
  }
}