.form {
  border: 3rem solid rgba($c-light, .15);
  border-radius: $n-borderradius;
  box-shadow: 0 1.5rem 4rem rgba($c-shadow, .15);
  height: 30rem;
  margin: 0 auto;
  max-width: 50rem;
  padding-top: 6rem;
  text-align: center;
  width: calc(100vw-3rem);

  &__group {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 80%;
  }

  &__input {
    background-color: rgba($c-light, .9);
    border: none;
    border-radius: $n-borderradius;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 auto;
    padding: .8rem 1.2rem;
    text-align: center;
    transition: all .3s;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      text-align: center;
    }
  }

  &__label {
    color: rgba($c-light, .8);
    display: block;
    font-size: 2rem;
    font-weight: 300;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    transform: translateY(-4rem);
    visibility: hidden;
  }

}